/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}


/* Base styles */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
  }
  
  a {
    background-color: transparent;
  }
  
  [hidden] {
    display: none;
  }
  
  html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  svg,
  video {
    display: block;
    vertical-align: middle;
  }
  
  video {
    max-width: 100%;
    height: auto;
  }
  
  /* Background colors */
  .bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
  }
  
  .bg-gray-100 {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
  }
  
  /* Border colors */
  .border-gray-200 {
    --border-opacity: 1;
    border-color: #edf2f7;
    border-color: rgba(237, 242, 247, var(--border-opacity));
  }
  
  /* Borders */
  .border-t {
    border-top-width: 1px;
  }
  
  /* Layout and positioning */
  .flex {
    display: flex;
  }
  
  .grid {
    display: grid;
  }
  
  .hidden {
    display: none;
  }
  
  .items-center {
    align-items: center;
  }
  
  justify-center {
    justify-content: center;
  }
  
  .fixed {
    position: fixed;
  }
  
  relative {
    position: relative;
  }
  
  top-0 {
    top: 0;
  }
  
  /* Text styles */
  .font-semibold {
    font-weight: 600;
  }
  
  text-sm {
    font-size: 0.875rem;
  }
  
  text-lg {
    font-size: 1.125rem;
  }
  
  leading-7 {
    line-height: 1.75rem;
  }
  
  /* Spacing */
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .ml-1 {
    margin-left: 0.25rem;
  }
  
  mt-2 {
    margin-top: 0.5rem;
  }
  
  mr-2 {
    margin-right: 0.5rem;
  }
  
  ml-2 {
    margin-left: 0.5rem;
  }
  
  mt-4 {
    margin-top: 1rem;
  }
  
  ml-4 {
    margin-left: 1rem;
  }
  
  mt-8 {
    margin-top: 2rem;
  }
  
  ml-12 {
    margin-left: 3rem;
  }
  
  -mt-px {
    margin-top: -1px;
  }
  
  max-w-6xl {
    max-width: 72rem;
  }
  
  min-h-screen {
    min-height: 100vh;
  }
  
  overflow-hidden {
    overflow: hidden;
  }
  
  p-6 {
    padding: 1.5rem;
  }
  
  py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  pt-8 {
    padding-top: 2rem;
  }
  
  /* Text alignment and color */
  .text-center {
    text-align: center;
  }
  
  .text-gray-200 {
    --text-opacity: 1;
    color: #edf2f7;
    color: rgba(237, 242, 247, var(--text-opacity));
  }
  
  text-gray-300 {
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226, 232, 240, var(--text-opacity));
  }
  
  text-gray-400 {
    --text-opacity: 1;
    color: #cbd5e0;
    color: rgba(203, 213, 224, var(--text-opacity));
  }
  
  text-gray-500 {
    --text-opacity: 1;
    color: #a0aec0;
    color: rgba(160, 174, 192, var(--text-opacity));
  }
  
  text-gray-600 {
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity));
  }
  
  text-gray-700 {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74, 85, 104, var(--text-opacity));
  }
  
  text-gray-900 {
    --text-opacity: 1;
    color: #1a202c;
    color: rgba(26, 32, 44, var(--text-opacity));
  }
  
  underline {
    text-decoration: underline;
  }
  
  /* Miscellaneous */
  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Widths */
  w-5 {
    width: 1.25rem;
  }
  
  w-8 {
    width: 2rem;
  }
  
  w-auto {
    width: auto;
  }
  
  /* Grid columns */
  grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  @media (min-width: 640px) {
    /* Small screen styles */
    .sm\:rounded-lg {
      border-radius: 0.5rem;
    }
  
    .sm\:block {
      display: block;
    }
  
    .sm\:items-center {
      align-items: center;
    }
  
    .sm\:justify-start {
      justify-content: flex-start;
    }
  
    .sm\:justify-between {
      justify-content: space-between;
    }
  
    .sm\:h-20 {
      height: 5rem;
    }
  
    .sm\:ml-0 {
      margin-left: 0;
    }
  
    .sm\:px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .sm\:pt-0 {
      padding-top: 0;
    }
  
    .sm\:text-left {
      text-align: left;
    }
  
    .sm\:text-right {
      text-align: right;
    }
  }
  
  @media (min-width: 768px) {
    /* Medium screen styles */
    .md\:border-t-0 {
      border-top-width: 0;
    }
  
    .md\:border-l {
      border-left-width: 1px;
    }
  
    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px) {
    /* Large screen styles */
    .lg\:px-8 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    /* Dark mode styles */
    .dark\:bg-gray-800 {
      --bg-opacity: 1;
      background-color: #2d3748;
      background-color: rgba(45, 55, 72, var(--bg-opacity));
    }
  
    .dark\:bg-gray-900 {
      --bg-opacity: 1;
      background-color: #1a202c;
      background-color: rgba(26, 32, 44, var(--bg-opacity));
    }
  
    .dark\:border-gray-700 {
      --border-opacity: 1;
      border-color: #4a5568;
      border-color: rgba(74, 85, 104, var(--border-opacity));
    }
  
    .dark\:text-white {
      --text-opacity: 1;
      color: #fff;
      color: rgba(255, 255, 255, var(--text-opacity));
    }
  
    .dark\:text-gray-400 {
      --text-opacity: 1;
      color: #cbd5e0;
      color: rgba(203, 213, 224, var(--text-opacity));
    }
  
    .dark\:text-gray-500 {
      --tw-text-opacity: 1;
      color: #6b7280;
      color: rgba(107, 114, 128, var(--tw-text-opacity));
    }
  }
  